<div id="user-info" class="well">
  <div class="text-center">
    <%= render 'shared/avatar', user: @user %><br>
    <h5><%= link_to @user.name, @user %></h5>
  </div>
  <h5>
    <%= fa_icon 'shield' %>
    <%= pluralize(@user.posts_count, 'post') %>
  </h5>
  <% if @user.dob.present? %>
    <h5>
      <%= fa_icon @user.sex %>
      <%= "#{pluralize(age(@user.dob), 'year')} old" %>
    </h5>
  <% end %>
  <% if @user.location.present? %>
    <h5>
      <%= fa_icon 'map-marker' %>
      <%= @user.location %>
    </h5>
  <% end %>
  <% if @user.personality_type? %>
    <h5>
      <%= @user.personality_type %>
    </h5>
  <% end %>
  <% if @user.hobbies? %>
    <h5>
      <%= @user.hobbies %>
    </h5>
  <% end %>
  <% if @user.favorite_memory? %>
    <h5>
      <%= @user.favorite_memory %>
    </h5>
  <% end %>
  <% if @user.favorite_movie_genre? %>
    <h5>
      <%= @user.favorite_movie_genre %>
    </h5>
  <% end %>
  <% if @user.favorite_music? %>
    <h5>
      <%= @user.favorite_music %>
    </h5>
  <% end %>
  <% if @user.strengths? %>
    <h5>
      <%= @user.strengths %>
    </h5>
  <% end %>
  <% if @user.weaknesses? %>
    <h5>
      <%= @user.weaknesses %>
    </h5>
  <% end %>
  <% if @user.three_wishes? %>
    <h5>
      <%= @user.three_wishes %>
    </h5>
  <% end %>
  <% if @user.role_model? %>
    <h5>
      <%= @user.role_model %>
    </h5>
  <% end %>
  <% if @user.favorite_quote? %>
    <h5>
      <%= @user.favorite_quote %>
    </h5>
  <% end %>
  <br>
  <div class="text-center">
    <% unless is_current_user?(@user) %>
      <%= render 'follows/form', user: @user %>
      <h6><%= 'Follows you' if current_user.followed_by?(@user) %></h6>
    <% end %>
  </div>
</div>
